.login-form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: 20vh auto;
  padding: 30px;
  border: 1px solid rgba(204, 204, 204, 0.16);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#formLabel
{

  font-size: 24px;
  text-align: start;
  margin-bottom: 30px;
}

mat-form-field{
  width: 100%;
  height: 25%;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  border-radius: 15%;
}

input{  
  width: 100%;
  height: 10px;
}

button{
  width: 30%;
  align-self: flex-end;
}