<div class="login-container">
    <img [src]="imagePath" alt="Logo">
    <mat-card class="login-form">
        <h2 id="formLabel">{{ formName }}</h2>
        <!--Create textfields for the form-->
        @for (button of buttonList; track button.name) {
            <mat-form-field  appearance="fill">
                <mat-label>{{ button.placeholder }}</mat-label>
                <input matInput [placeholder]="button.placeholder" [type]=button.name>
                <mat-icon matSuffix>{{ button.icon }}</mat-icon>
            </mat-form-field>
        }       
    <button matButton="filled" color="primary">{{ buttonText }}</button>
    </mat-card>
</div>