<div class="d-flex">
    <img [src]="imagePath" alt="Logo" class="opacity-50 w-50 vh-100">
    <mat-card class="login-form">
        <h2 id="formLabel">{{ formName }}</h2>
        <!--Create textfields for the form-->
        @for (button of buttonList; track button.name) {
            <mat-form-field [formGroup]="userLoginFormGroup" class="w-100 mb-4 text-white" appearance="fill">
                <mat-label>{{ button.placeholder }}</mat-label>
                <input [formControlName]="button.inputControl" class="vw-100 h-10" matInput [placeholder]="button.placeholder" [type]=button.name>
                <mat-icon matSuffix>{{ button.icon }}</mat-icon>
            </mat-form-field>
        }       
    <button matButton="filled" class="w-50 align-self-end" (click)="onLogin()" color="primary">{{ buttonText }}</button>
    <mat-label class="mt-3"> Not a member? please register <a href="/register" style="cursor: default;"><i>here</i></a></mat-label>    
</mat-card>
</div>
